#header4{
    height: 700px;
}

#header4 .image{
    background: url(./header4/Group\ 12724.svg) no-repeat ;
    object-fit: fill;
    position: relative;
    height: 250.38px;
    width: 1108px ;
    background-size: 1108px 250.38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#header4 .image .text{
    float: left;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding: 80px 90px ;
    margin-right :480px; ;
    padding-right: 60px;
    width: 40%;
    
}

#header4 .text h2{
    font-size: 30px; 
    font-weight: 100;
}

#header4 .text h3{
    font-family: poppins;
    font-size: 18px; 
    font-weight: 100;
}

#header4 .image .button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    float: right;
    margin-top: -170px;
    width: auto;
    margin-right: 200px;
    padding: 16px 55px;
    border-radius: 12px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}

#header4 .image .button img{
    position: relative;
    top: 4px;
    height: 25px;

}

#header4 .image .button h3{
    font-weight: 100;
    margin-bottom: 3px; ;
}


