#header3{
    height: 650px;
    margin-top: 400px;
    background-color: #f7f8f7;
    max-width: 1440px;
    background-size: auto;
    
}

#header3 h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    padding-top: 40px;
}

#header3 h3 {
    color: #707070;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: 100;
    padding: 0px 320px;
    

}

#header3 h2 span{
    color: orangered;
}
#header3 h2 img {
    position: relative;
    height: 40px;
    top: 9px;
    right:10px ;
}


#header3 .list {
margin-left: 100px;
}

#header3 .left
{

 float: left;
 text-align: left;
 padding: 30px;
 padding-left: 250px;
 padding-right: 0px;
 
 max-width: 30%;

 
 
}
#header3 .left h3
{   
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
   
}

#header3 .left h3 img{

    position: relative;
    height: 40px;
    top: 15px;
    right:10px ;

}

#header3 .right {
    background: none;
    float: right;
    text-align: left;
    margin-top: 30px;
    padding: 0px;
    padding-right: 180px;
    max-width: 30%;
    
} 

#header3 .right h3{

    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
    

}

#header3 .right h3 img{
    position: relative;
    height: 40px;
    top: 15px;
    right:10px ;

}

